// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.

[data-engrid-theme="oxfamca"] {
  --root_font-size: 18px;
  // FIXED COLOR PALETTE
  --pagebuilder__background-color: #0c884a;

  // GRAYSCALE COLOR PALETTE
  --color_off-white: #dfdfdf;
  --color_light-gray: #bfbfbf;
  --color_gray: #b3b3b3;
  --color_dark-gray: #808080;
  --color_off-black: #3b3b3b;

  // SEMANTIC COLOR PALETTE
  --success: #33cc33;
  --warning: #fcac00;
  --error: #f12222;
  --error__color: #f12222;

  // PRIMARY COLORS
  --color_primary: #f16e22;
  --color_primary_overlay: #ffffff;

  // SEMANTIC GEOMETRIC SCALING
  --scale-up_20pct: 1.2;
  --scale-up_40pct: 1.4;
  --scale-up_80pct: 1.8;
  --scale-up_160pct: 2.6;
  --scale-down_20pct: 0.8;
  --scale-down_40pct: 0.6;
  --scale-down_80pct: 0.2;

  // FONT STACKS
  --native-fonts__sans-serif: "Oxfam TSTAR PRO", Arial, Helvetica, -apple-system,
    sans-serif;

  // TYPOGRAPHY DEFAULT
  --default_font-family: var(--native-fonts__sans-serif);
  --default_color: var(--color_off-black);
  --default_font-size: var(--root_font-size);
  --default_font-weight: initial;
  --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: OxfamHeadline;
  --h1_color: initial;
  --h1_font-size: calc(0.05552rem * 48);
  --h1_font-weight: 900;
  --h1_line-height: var(--h1_font-size);

  // TYPOGRAPHY H2
  --h2_font-family: var(--native-fonts__sans-serif);
  --h2_color: initial;
  --h2_font-size: 32px;
  --h2_font-weight: bold;
  --h2_line-height: 36px;

  // TYPOGRAPHY H3
  --h3_font-family: var(--h1_font-family);
  --h3_color: initial;
  --h3_font-size: calc(var(--root_font-size) * var(--scale-up_40pct));
  --h3_font-weight: initial;
  --h3_line-height: var(--h3_font-size);

  // TYPOGRAPHY P
  --p_font-family: var(--default_font-family);
  --p_color: initial;
  --p_font-size: var(--root_font-size);
  --p_font-weight: initial;
  --p_line-height: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  // TYPOGRAPHY INPUT
  --input_font-family: var(--default_font-family);
  --input_color: var(--color_off-black);
  --input_font-size: var(--root_font-size);
  --input_font-weight: initial;
  --input_line-height: initial;
  --input_background-color: transparent;
  --input_border-width: 2px;
  --input_border-color: var(--color_off-black);
  --input_border-radius: 5px;
  --input_placeholder-color: var(--color_light-gray);
  --input_box-shadow: none;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  --input_color_hover: var(--input_color);
  --input_background-color_hover: var(--input_background-color);
  --input_border-color_hover: #8a8a8a;
  --input_border-bottom-color_hover: var(--input_border-color_hover);
  --input_box-shadow_hover: 0 0 0.3125rem #cacaca;

  // TYPOGRAPHY BUTTON
  --button_font-family: var(--default_font-family);
  --button_color: var(--color_white);
  --button_font-size: 1.3rem;
  --button_font-weight: bold;
  --button_line-height: initial;
  --button_background-color: var(--color_off-black);
  --button_border-width: 0px;
  --button_border-color: var(--color_off-black);
  --button_border-radius: 0;

  // TYPOGRAPHY BUTTON:HOVER
  // --button_color_hover: var(--button_color);
  --button_background-color_hover: var(--button_background-color);
  // --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  // --button_color_checked: var(--button_color_hover);
  --button_background-color_checked: #f05523;
  // --button_border-color_checked: var(--button_border-color_hover);

  // TYPOGRAPHY SUBMIT BUTTON
  --submit__button_color: #fff;
  --submit__button_font-size: 25px;
  --submit__button_line-height: 25px;
  --submit__button_background-color: var(--color_primary);
  --submit__button_border-color: var(--color_primary);
  --submit__button_padding-top: 10px;
  --submit__button_padding-bottom: 10px;

  // TYPOGRAPHY BUTTON:HOVER
  --submit__button_color_hover: #fff;
  --submit__button_background-color_hover: #f05523;
  --submit__button_border-color_hover: #f05523;

  // TYPOGRAPHY BUTTON:SELECTED
  // --submit__button_color_checked: #f05523;
  // --submit__button_background-color_checked: var(--color_primary);
  // --submit__button_border-color_checked: var(--color_primary);

  // TYPOGRAPHY GIVING AMOUNT BUTTON
  // --donation-amount__button_font-family: var(--button_font-family);
  // --donation-amount__button_color: var(--button_color);
  --donation-amount__button_font-size: 24px;
  --donation-amount__button_font-weight: var(--button_font-weight);
  --donation-amount__button_line-height: var(--button_line-height);
  // --donation-amount__button_background-color: var(--color_off-black);
  // --donation-amount__button_border-width: 0;
  // --donation-amount__button_border-color: var(--button_border-color);
  // --donation-amount__button_border-radius: var(--button_border-radius);

  // TYPOGRAPHY GIVING AMOUNT BUTTON:HOVER
  // --donation-amount__button_color_hover: var(--button_color_hover);
  // --donation-amount__button_background-color_hover: var(
  //   --button_background-color_hover
  // );
  // --donation-amount__button_border-color_hover: var(
  //   --button_border-color_hover
  // );

  // TYPOGRAPHY GIVING AMOUNT BUTTON:CHECKED
  --donation-amount__button_color_checked: var(--color_white);
  --donation-amount__button_background-color_checked: var(--color_primary);
  --donation-amount__button_border-color_checked: var(--button_color);

  // TYPOGRAPHY RADIO
  --radio_font-family: var(--default_font-family);
  --radio_font-size: 25px;
  --radio_font-weight: 900;
  --radio_content: "";
  --radio_color: var(--color_primary);
  --radio_background-color: var(--color_white);
  --radio_border-width: 4px;
  --radio_border-color: var(--color_off-black);
  --radio_border-radius: 50%;
  --radio_height: 1.4rem;
  --radio_width: 1.4rem;
  --radio_box-shadow: none;

  // TYPOGRAPHY RADIO INPUT:FOCUS
  // TYPOGRAPHY RADIO INPUT:HOVER
  --radio_color_hover: var(--radio_color);
  --radio_background-color_hover: var(--color_white);
  --radio_border-color_hover: var(--radio_border-color);
  --radio_box-shadow_hover: none;

  // TYPOGRAPHY RADIO INPUT:CHECKED
  --radio_color_selected_selected: var(--radio_background-color);
  --radio_background-color_selected: var(--color_primary);
  --radio_border-color_selected: var(--radio_border-color);
  --radio_box-shadow_selected: inset 0 0 0 2px var(--color_white);

  // TYPOGRAPHY CHECKBOX
  --checkbox_font-size: 18px;
  --checkbox_font-weight: 400;
  --checkbox_color: var(--color_white);
  --checkbox_background-color: var(--color_white);
  --checkbox_border-width: 2px;
  --checkbox_border-color: var(--color_off-black);
  --checkbox_border-radius: 0px;
  --checkbox_height: 20px;
  --checkbox_width: 20px;

  // TYPOGRAPHY CHECKBOX INPUT:FOCUS
  // TYPOGRAPHY CHECKBOX INPUT:HOVER
  --checkbox_color_hover: var(--checkbox_color);
  --checkbox_background-color_hover: var(--checkbox_background-color);
  --checkbox_border-color_hover: var(--checkbox_border-color);

  // TYPOGRAPHY CHECKBOX INPUT:CHECKED
  --checkbox_content_checked: "";
  --checkbox_color_checked: var(--checkbox_background-color);
  --checkbox_background-color_checked: var(--color_white);
  --checkbox_border-color_checked: var(--checkbox_border-color);

  // TYPOGRAPHY GIVE BY SELECT BUTTON
  --give-by-select__button_font-family: var(--button_font-family);
  --give-by-select__button_color: var(--button_color);
  --give-by-select__button_font-size: var(--button_font-size);
  --give-by-select__button_font-weight: var(--button_font-weight);
  --give-by-select__button_line-height: var(--button_line-height);
  --give-by-select__button_background-color: var(--color_off-black);
  --give-by-select__button_border-width: var(--button_border-width);
  --give-by-select__button_border-color: var(--color_off-black);
  --give-by-select__button_border-radius: var(--button_border-radius);
  --give-by-select__flex-grow: 1;

  // TYPOGRAPHY GIVE BY SELECT BUTTON:HOVER
  --give-by-select__button_color_hover: var(--button_color_hover);
  --give-by-select__button_background-color_hover: var(
    --button_background-color_hover
  );
  --give-by-select__button_border-color_hover: var(--button_border-color_hover);

  // TYPOGRAPHY GIVE BY SELECT BUTTON:CHECKED
  --give-by-select__button_color_checked: var(--color_white);
  --give-by-select__button_background-color_checked: var(--color_primary);
  --give-by-select__button_border-color_checked: var(--color_primary);

  // DONATION PAGE
  // --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  // --recurring-frequency__button_count: 4;
  // --donation-amount__button_count: 4;
  // --give-by-select__button_count: 4;

  // ENGRID SECTIONS CUSTOM
  --engrid__page_padding: 0px 0px;
  --engrid__content_padding: 0px;
  --engrid__body_padding: 0px 60px;
  --engrid__body-headerOutside_padding: 0;
  --engrid__page_background-color: #44841a;
}

/* Add your custom theme styles here */
[data-engrid-embedded] {
  .content-header,
  .content-footer,
  ._hj_feedback_container,
  .body-headerOutside {
    display: none !important;
  }
  &::before {
    content: none !important;
  }
}
[data-engrid-theme="oxfamca"] {
  @mixin until-tablet {
    // STYLES
    .emailImage {
      float: none !important;
      height: auto !important;
    }
  }
  @mixin until-mobile-l {
    // STYLES
    .body-headerOutside p.no-margin {
      margin-top: 0;
      margin-bottom: 0;

      .emailImage {
        height: 70px !important;
        width: auto !important;
      }
    }

    .radio-to-buttons_donationAmt {
      --donation-amount__button_count: 2;
    }
  }
  @mixin from-mobile-l {
    // STYLES
  }

  .en__captcha {
    margin: auto;
    margin-top: 20px;
  }
  .radio-to-buttons_donationAmt {
    margin-bottom: 30px;
    .en__field > label {
      display: none !important;
    }
  }
  .en__field--donationAmt .en__field__item--other {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    &:before {
      display: block;
      content: "$";
      position: absolute;
      font-family: inherit;
      font-size: var(--button_font-size);
      font-weight: var(--button_font-weight);
      line-height: 0;
      height: 0;
      left: 30%;
      top: calc(50% - 2px);
      color: var(--button_color);
    }
    input {
      padding: 0;
      padding-left: 37%;
      font-size: var(--donation-amount__button_font-size);
      line-height: 61px;
      font-weight: var(--button_font-weight);
      background-color: var(--button_background-color);
      color: var(--button_color);
    }
  }

  // Strip the top margin from the first child on body top/title/main, and any of its first child children
  .body-top,
  .body-top > *:first-child,
  .body-top > *:first-child > *:first-child,
  .body-top > *:first-child > *:first-child > *:first-child,
  .body-top > *:first-child > *:first-child > *:first-child > *:first-child,
  .body-title,
  .body-title > *:nth-child(2),
  .body-title > *:nth-child(2) > *:first-child,
  .body-title > *:nth-child(2) > *:first-child > *:first-child,
  .body-title > *:nth-child(2) > *:first-child > *:first-child > *:first-child,
  .body-main,
  .body-main > *:first-child,
  .body-main > *:first-child > *:first-child,
  .body-main > *:first-child > *:first-child > *:first-child,
  .body-main > *:first-child > *:first-child > *:first-child > *:first-child {
    margin-top: 0;
  }

  // Strip the bottom margin from the first child on body top/title/main, and any of its first child children
  .body-top,
  .body-top > *:last-child,
  .body-top > *:last-child > *:last-child,
  .body-top > *:last-child > *:last-child > *:last-child,
  .body-top > *:last-child > *:last-child > *:last-child > *:last-child,
  .body-title,
  .body-title > *:last-child,
  .body-title > *:last-child > *:last-child,
  .body-title > *:last-child > *:last-child > *:last-child,
  .body-title > *:last-child > *:last-child > *:last-child > *:last-child,
  .body-main,
  .body-main > *:last-child,
  .body-main > *:last-child > *:last-child,
  .body-main > *:last-child > *:last-child > *:last-child,
  .body-main > *:last-child > *:last-child > *:last-child > *:last-child {
    margin-bottom: 0;
  }

  .body-title {
    padding-top: 2rem;
    padding-bottom: 0.75rem;
  }

  .body-top {
    padding-top: 0.75rem;
    padding-bottom: 1.5rem;
  }

  .body-main {
    padding-bottom: min(4rem, max(10vw, 20px));
  }

  .en__contactDetails__rows,
  .en__field__label {
    position: relative;
  }
  .en__contactDetails__select:checked + .en__contactDetails__rows:after,
  .en__field__input--checkbox:checked + .en__field__label:after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16'><path fill='%23F57E20' fill-rule='nonzero' d='M18.76.16L6.68 12.113l-4.44-4.392a.555.555 0 0 0-.779 0L.161 9.006a.541.541 0 0 0 0 .771L6.29 15.84a.555.555 0 0 0 .78 0l13.77-13.624a.541.541 0 0 0 0-.771L19.539.16a.555.555 0 0 0-.779 0z'/></svg>");
    position: absolute;
    left: 5px;
    width: 21px;
    height: 23px;
    color: #f16e22;
    background-color: transparent;
    font-size: 0.99936em;
    display: flex;
    padding-bottom: 4px;
  }
  .en__field > .en__field__label {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
  }

  /* Card */
  .give-by-select .en__field__element--radio .en__field__item.card label span {
    display: inline-block;
    height: 18px;
    width: 24px;
    background-image: url(https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/card.png?v=1572545889000);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    margin-right: 7px;
    bottom: 1px;
  }

  /* Paypal */
  .give-by-select
    .en__field__element--radio
    .en__field__item.paypal
    label
    span {
    display: inline-block;
    height: 20px;
    width: 17px;
    background-image: url(https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/paypal.png?v=1572545891000);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    margin-right: 7px;
  }

  /* Check */
  .give-by-select .en__field__element--radio .en__field__item.check label span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-check-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    margin-right: 7px;
    top: 1px;
  }

  .give-by-select
    .en__field__element--radio
    .en__field__item.card
    input:checked
    + label
    span {
    background-image: url(https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/card.png?v=1572545889000);
  }
  .give-by-select
    .en__field__element--radio
    .en__field__item.paypal
    input:checked
    + label
    span {
    background-image: url(https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/paypal.png?v=1572545891000);
  }
  .give-by-select
    .en__field__element--radio
    .en__field__item.check
    input:checked
    + label
    span {
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-check-white.svg);
  }

  &:before {
    content: "";
    display: block;
    height: 12px;
    width: 100%;
    background: url("https://www.oxfam.ca/wp-content/uploads/2018/08/toptop.jpg")
      center center no-repeat;
    background-size: cover;
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @include mq($until: mobile-l) {
      @include until-mobile-l;
    }

    @include mq($until: tablet) {
      @include until-tablet;
    }

    @include mq($from: mobile-l) {
      @include from-mobile-l;
    }
  }

  h1 {
    text-align: center;
  }
  h2 {
    margin-bottom: 25px;
  }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 0px;
    flex-wrap: wrap;
    @include mq($until: tablet) {
      display: block;
      .yd-ft-left,
      .yd-ft-middle,
      .yd-ft-right {
        width: 100%;
        text-align: center;
      }
      .ft-link-wrapper a {
        display: block;
        margin: 0 auto;
        padding: 0.2rem 0;
      }
    }
    .footer-logo {
      padding: 1.25rem;
      img {
        width: auto;
        height: 50px;
      }
    }
    .footer-menu {
      padding: 1rem;
      a {
        display: block;
        color: #fff;
        font-size: calc(0.05552rem * 16);
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-copy {
      padding: 1rem;
      max-width: $one_col_content-column_min-width;

      p {
        font-size: calc(0.05552rem * 14);
        font-weight: 400;
        line-height: 1.57;
        letter-spacing: 0.6px;
        color: #ffffff;
      }
    }
    .address {
      font-size: calc(0.05552rem * 14);
      font-weight: 400;
      line-height: 1.57;
      letter-spacing: 0.6px;
      color: #ffffff;
      margin: 0;
      display: block;
      width: 100%;
      padding-top: 30px;
      border-top: 2px solid rgba(#fff, 0.8);
      text-align: center;
    }
  }

  @media screen and (min-width: $one_col_body-column_min-width) {
    .footer-wrapper .footer-copy p {
      border-left: 1px solid #fff;
      padding-left: 65px;
    }
  }

  @media screen and (max-width: #{$one_col_body-column_min-width + 100px}) {
    --engrid__body_padding: 0px 8px;
  }

  @media screen and (max-width: $one_col_content-column_min-width) {
    .footer-wrapper {
      text-align: center;
    }
  }

  // Client specific CSS
  .content-footer > div {
    grid-column: pc !important;
  }
  .footer-block-three {
    height: 14px;
    background: url("https://oxfam.ca/wp-content/uploads/2018/06/footer-bg.png");
    background-size: cover;
    clear: both;
    font-size: 0;
    line-height: 0;
  }

  .content-footer {
    --engrid__content-footer_background-color: var(
      --pagebuilder__background-color
    );
  }

  .footer-wrapper {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
  }

  .footer-block-two .yd-col.yd-ft-left p {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 26px;
    margin: 1.25rem;
  }

  .footer-block-two .yd-col.yd-ft-right p {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
    margin: 1.25rem;
  }

  .yd-col {
    display: inline-block;
  }

  .yd-ft-right {
    text-align: right;
  }

  .ft-link-wrapper {
    margin: 20px;
  }

  .ft-link-wrapper a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 26px;
  }

  .ft-link-wrapper a:hover {
    text-decoration: underline;
  }

  /*
* ##########################################################
* # ENGRID - BODY Column Breakpoint Styling
* # LAYOUT - Center ANY - [class^="layout-center"][class$="1col"]
* ##########################################################
*/

  &[data-engrid-layout*="1col"] {
    .page-alert,
    .content-header,
    .body-bannerOverlay,
    .body-side,
    .body-footerOutside,
    .page-backgroundImageOverlay {
      display: none !important;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      -webkit-clip-path: inset(100%);
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    .body-headerOutside {
      margin-top: 2rem;
      margin-bottom: 2rem;
      grid-column: bc;
    }

    .content-preFooter {
      grid-column: pc;
      background-size: contain;
    }

    .content-preFooter.pseudo-subgrid > div {
      grid-column: bc;
    }

    .content-footer.pseudo-subgrid > div {
      grid-column: bc;
    }

    @media only screen and (min-width: $one_col_content-column_min-width) {
      /* This should use a more robust solution for adding a gradient overlay to the background image, but below the overlay text */
      .body-header {
        border-top: 0 !important;
        min-height: 12px;
        padding-bottom: 30px;
        &:before {
          content: "";
          position: absolute;
          display: block;
          height: 12px;
          width: 100%;
          background: url("https://www.oxfam.ca/wp-content/uploads/2018/08/toptop.jpg")
            center center no-repeat;
          background-size: cover;
          background-position: left;
          z-index: 0 !important;
          box-shadow: none !important;
        }
      }

      .body-footer {
        margin-bottom: 5rem;
      }

      .content-preFooter > div {
        grid-column: cc;
      }

      .content-footer > div {
        grid-column: cc;
      }

      &:not(#en__pagebuilder) .page-backgroundImage::after {
        content: "";
        background-image: radial-gradient(
          circle at 50% 0,
          rgba(0, 0, 0, 0.3),
          transparent 53%
        );
        z-index: 0;
        grid-column: pc;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100vw;
        background-color: #333;
        opacity: 0.5;
      }
    }
  }
  @media only screen and (max-width: #{$two_col_content-column_min-width + 100px}) {
    .footer-wrapper {
      flex-direction: column;

      .yd-col.yd-ft-left {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &[data-engrid-subtheme="emergency"] {
    // EN Library Component: Code block: Oxfam Canada - Emergency Theme Override
    // Emergency Theme Override
    /* Overrides the base styles to create an "Emergency Theme" */

    --color_primary: #ff1d34;
    --engrid__page_background-color: #000000;

    .en__contactDetails__select:checked + .en__contactDetails__rows:after,
    .en__field__input--checkbox:checked + .en__field__label:after {
      content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16'><path fill='%23FF1D34' fill-rule='nonzero' d='M18.76.16L6.68 12.113l-4.44-4.392a.555.555 0 0 0-.779 0L.161 9.006a.541.541 0 0 0 0 .771L6.29 15.84a.555.555 0 0 0 .78 0l13.77-13.624a.541.541 0 0 0 0-.771L19.539.16a.555.555 0 0 0-.779 0z'/></svg>") !important;
    }

    #enModal .enModal-container .accent {
      color: var(--color_primary) !important;
    }

    &:before,
    .body-header:before,
    .footer-block-three,
    header#yd-donationheader,
    section.form-sidebar,
    section.wrapper .main .form-large {
      background: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/strip-emergency-desktop.png?v=1520436486000");
    }
  }
}
