// The most broadly used CSS Custom Properties for quick theming.
// Uncomment to use and reference engrid-scrips SASS files for more CSS Custom Properties.
// All CSS Custom Properties should be scoped to the theme using CSS Data Attributes.

// $color-white: #ffffff;
// $color-black: #3b3b3b;
// $default-gray: #8a8a8a;
// $default-light-gray: #cacaca;
// $default-cta: #f16e22;
// $default-cta-hover: #f05523;
// $default-body-background-color: $color-white;
// $default-page-backgroundImage-background-color: #333333;

// $default-body-background-color: $color-white;
// $default-body-border-radius: 0px;
// $default-spacing-sm: 0.8652rem;
// $default-spacing: calc(0.8652rem * 0.75);
// $default-spacing-lg: calc(0.8652rem * 2.5);
// $default-spacing-xlg: calc(0.8652rem * 5);

// $default-input-border-radius: 5px;
// $default-input-border-width: 2px;
// $default-input-border-color: $color-black;
// $default-input-background-color: transparent;

// $default-button-background-color: $color-black;
// $default-button-background-color-hover: $default-cta-hover;
// $default-button-background-color-active: $default-cta;
// $default-button-background-color-disabled: #949494;
// $default-button-border-color: $color-black;
// $default-button-border-color-active: $default-cta;
// $default-button-border-color-hover: $default-cta-hover;
// $default-button-border-radius: 0px;
// $default-button-font-color: $color-white;
// $default-button-font-color-active: $color-white;

// $default-submit-button-background-color: $default-cta;
// $default-submit-button-background-color-hover: $default-cta-hover;
// $default-submit-button-border-color: $default-cta;
// $default-submit-button-font-color: $color-white;

// $default-checkmark-background-color: $default-cta;
// $default-checkmark-border-color: $default-cta;
// $default-checkmark-font-color: $color-white;

// $default-error-red: #f12222;
// $default-error-red-grayscale: #949494;
// $default-error-red-faded: #ffeae9;
// $default-error-page-group-background: #f4ddda;
// $default-error-input-border-width: $default-input-border-width;

// $default-highlight-background-color: #f9f003;
// $default-highlight-font-color: #343432;

[data-engrid-theme="oxfamca"] {
  --root_font-size: 18px;
  // FIXED COLOR PALETTE
  --color_transparent: transparent;
  --color_white: rgba(255, 255, 255, 1);
  --color_black: rgba(37, 37, 37, 1);
  --pagebuilder__background-color: #487c0f;

  // GRAYSCALE COLOR PALETTE
  --color_off-white: #dfdfdf;
  --color_light-gray: #bfbfbf;
  --color_gray: #b3b3b3;
  --color_dark-gray: #808080;
  --color_off-black: #404040;

  // SEMANTIC COLOR PALETTE
  --success: #33cc33;
  --warning: #fcac00;
  --error: #f12222;

  // PRIMARY COLORS
  --color_primary: #f16e22;
  --color_primary_overlay: #ffffff;

  // SEMANTIC GEOMETRIC SCALING
  --scale-up_20pct: 1.2;
  --scale-up_40pct: 1.4;
  --scale-up_80pct: 1.8;
  --scale-up_160pct: 2.6;
  --scale-down_20pct: 0.8;
  --scale-down_40pct: 0.6;
  --scale-down_80pct: 0.2;

  // FONT STACKS
  --native-fonts__sans-serif: "Oxfam TSTAR PRO", Arial, Helvetica, -apple-system,
    sans-serif;

  // TYPOGRAPHY DEFAULT
  --default_font-family: var(--native-fonts__sans-serif);
  --default_color: var(--color_black);
  --default_font-size: var(--root_font-size);
  --default_font-weight: initial;
  --default_line-height: initial;

  // TYPOGRAPHY H1
  --h1_font-family: OxfamHeadline;
  --h1_color: initial;
  --h1_font-size: calc(0.05552rem * 48);
  --h1_font-weight: 900;
  --h1_line-height: var(--h1_font-size);

  // TYPOGRAPHY H2
  --h2_font-family: var(--native-fonts__sans-serif);
  --h2_color: initial;
  --h2_font-size: 32px;
  --h2_font-weight: bold;
  --h2_line-height: 36px;

  // TYPOGRAPHY H3
  --h3_font-family: var(--h1_font-family);
  --h3_color: initial;
  --h3_font-size: calc(var(--root_font-size) * var(--scale-up_40pct));
  --h3_font-weight: initial;
  --h3_line-height: var(--h3_font-size);

  // TYPOGRAPHY P
  --p_font-family: var(--default_font-family);
  --p_color: initial;
  --p_font-size: var(--root_font-size);
  --p_font-weight: initial;
  --p_line-height: initial;

  // TYPOGRAPHY A
  // --a_font-family: var(--default_font-family);
  // --a_color: initial;
  // --a_text-decoration: underline;

  // TYPOGRAPHY A:FOCUS
  // TYPOGRAPHY A:HOVER
  // --a_color_hover: var(--a_color);
  // --a_text-decoration_hover: initial;

  // TYPOGRAPHY INPUT
  --input_font-family: var(--default_font-family);
  --input_color: #3b3b3b;
  --input_font-size: var(--root_font-size);
  --input_font-weight: initial;
  --input_line-height: initial;
  --input_background-color: transparent;
  --input_border-width: 2px;
  --input_border-color: #3b3b3b;
  --input_border-radius: 5px;
  --input_placeholder-color: var(--color_light-gray);
  --input_box-shadow: none;

  // TYPOGRAPHY INPUT:FOCUS
  // TYPOGRAPHY INPUT:HOVER
  --input_color_hover: var(--input_color);
  --input_background-color_hover: var(--input_background-color);
  --input_border-color_hover: #8a8a8a;
  --input_border-bottom-color_hover: var(--input_border-color_hover);
  --input_box-shadow_hover: 0 0 0.3125rem #cacaca;

  // TYPOGRAPHY BUTTON
  --button_font-family: var(--default_font-family);
  --button_color: var(--color_white);
  --button_font-size: 1.3rem;
  --button_font-weight: bold;
  --button_line-height: initial;
  --button_background-color: #f16e22;
  --button_border-width: 1px;
  --button_border-color: #f16e22;
  --button_border-radius: 0;

  // TYPOGRAPHY BUTTON:HOVER
  --button_color_hover: var(--button_color);
  --button_background-color_hover: var(--color_black);
  --button_border-color_hover: var(--button_background-color_hover);

  // TYPOGRAPHY BUTTON:SELECTED
  // --button_color_checked: var(--button_color_hover);
  // --button_background-color_checked: var(--button_background-color_hover);
  // --button_border-color_checked: var(--button_border-color_hover);

  // TYPOGRAPHY SUBMIT BUTTON
  --submit__button_color: #fff;
  --submit__button_font-size: 25px;
  --submit__button_line-height: 25px;
  --submit__button_background-color: var(--color_primary);
  --submit__button_border-color: var(--color_primary);
  --submit__button_padding-top: 10px;
  --submit__button_padding-bottom: 10px;

  // TYPOGRAPHY BUTTON:HOVER
  --submit__button_color_hover: #fff;
  --submit__button_background-color_hover: #f05523;
  --submit__button_border-color_hover: #f05523;

  // TYPOGRAPHY BUTTON:SELECTED
  // --submit__button_color_checked: #f05523;
  // --submit__button_background-color_checked: var(--color_primary);
  // --submit__button_border-color_checked: var(--color_primary);

  // TYPOGRAPHY GIVING AMOUNT BUTTON
  --donation-amount__button_font-family: var(--button_font-family);
  --donation-amount__button_color: var(--button_color);
  --donation-amount__button_font-size: 24px;
  --donation-amount__button_font-weight: var(--button_font-weight);
  --donation-amount__button_line-height: var(--button_line-height);
  --donation-amount__button_background-color: var(--color_black);
  --donation-amount__button_border-width: 0;
  --donation-amount__button_border-color: var(--button_border-color);
  --donation-amount__button_border-radius: var(--button_border-radius);

  // TYPOGRAPHY GIVING AMOUNT BUTTON:HOVER
  --donation-amount__button_color_hover: var(--button_color_hover);
  --donation-amount__button_background-color_hover: var(
    --button_background-color_hover
  );
  --donation-amount__button_border-color_hover: var(
    --button_border-color_hover
  );

  // TYPOGRAPHY GIVING AMOUNT BUTTON:CHECKED
  --donation-amount__button_color_checked: var(--color_white);
  --donation-amount__button_background-color_checked: var(--color_primary);
  --donation-amount__button_border-color_checked: var(--button_color);

  // TYPOGRAPHY RADIO
  --radio_font-family: var(--default_font-family);
  --radio_font-size: 25px;
  --radio_font-weight: 900;
  --radio_content: "";
  --radio_color: var(--color_primary);
  --radio_background-color: var(--color_white);
  --radio_border-width: 4px;
  --radio_border-color: var(--color_black);
  --radio_border-radius: 50%;
  --radio_height: 1.4rem;
  --radio_width: 1.4rem;
  --radio_box-shadow: none;

  // TYPOGRAPHY RADIO INPUT:FOCUS
  // TYPOGRAPHY RADIO INPUT:HOVER
  --radio_color_hover: var(--radio_color);
  --radio_background-color_hover: var(--color_white);
  --radio_border-color_hover: var(--radio_border-color);
  --radio_box-shadow_hover: none;

  // TYPOGRAPHY RADIO INPUT:CHECKED
  --radio_color_selected_selected: var(--radio_background-color);
  --radio_background-color_selected: var(--color_primary);
  --radio_border-color_selected: var(--radio_border-color);
  --radio_box-shadow_selected: inset 0 0 0 2px var(--color_white);

  // TYPOGRAPHY CHECKBOX
  --checkbox_font-size: 18px;
  --checkbox_font-weight: 400;
  --checkbox_color: var(--color_white);
  --checkbox_background-color: var(--color_white);
  --checkbox_border-width: 2px;
  --checkbox_border-color: var(--color_black);
  --checkbox_border-radius: 0px;
  --checkbox_height: 20px;
  --checkbox_width: 20px;

  // TYPOGRAPHY CHECKBOX INPUT:FOCUS
  // TYPOGRAPHY CHECKBOX INPUT:HOVER
  --checkbox_color_hover: var(--checkbox_color);
  --checkbox_background-color_hover: var(--checkbox_background-color);
  --checkbox_border-color_hover: var(--checkbox_border-color);

  // TYPOGRAPHY CHECKBOX INPUT:CHECKED
  --checkbox_content_checked: "";
  --checkbox_color_checked: var(--checkbox_background-color);
  --checkbox_background-color_checked: var(--color_white);
  --checkbox_border-color_checked: var(--checkbox_border-color);

  // TYPOGRAPHY GIVE BY SELECT BUTTON
  --give-by-select__button_font-family: var(--button_font-family);
  --give-by-select__button_color: var(--button_color);
  --give-by-select__button_font-size: var(--button_font-size);
  --give-by-select__button_font-weight: var(--button_font-weight);
  --give-by-select__button_line-height: var(--button_line-height);
  --give-by-select__button_background-color: var(--color_black);
  --give-by-select__button_border-width: var(--button_border-width);
  --give-by-select__button_border-color: var(--color_black);
  --give-by-select__button_border-radius: var(--button_border-radius);
  --give-by-select__flex-grow: 1;

  // TYPOGRAPHY GIVE BY SELECT BUTTON:HOVER
  --give-by-select__button_color_hover: var(--button_color_hover);
  --give-by-select__button_background-color_hover: var(
    --button_background-color_hover
  );
  --give-by-select__button_border-color_hover: var(--button_border-color_hover);

  // TYPOGRAPHY GIVE BY SELECT BUTTON:CHECKED
  --give-by-select__button_color_checked: var(--color_white);
  --give-by-select__button_background-color_checked: var(--color_primary);
  --give-by-select__button_border-color_checked: var(--color_primary);

  // DONATION PAGE
  // --give-monthly-donation-amount-appended-label: "/mo";
  // --give-annual-donation-amount-appended-label: "/yr";
  // --recurring-frequency__button_count: 4;
  // --donation-amount__button_count: 4;
  // --give-by-select__button_count: 4;

  // ENGRID SECTIONS CUSTOM
  --engrid__page_padding: 0px 0px;
  --engrid__content_padding: 0px;
  --engrid__body_padding: 0px 60px;
  --engrid__body-main_padding: 0 60px 60px;
}

/* Add your custom theme styles here */
[data-engrid-theme="oxfamca"] {
  @mixin until-mobile-l {
    // STYLES
  }

  @mixin from-mobile-l {
    // STYLES
  }

  @mixin simplified-header {
    // STLES
  }
  .en__captcha {
    margin: auto;
    margin-top: 20px;
  }
  .radio-to-buttons_donationAmt {
    margin-bottom: 30px;
    .en__field > label {
      display: none !important;
    }
  }
  .en__field--donationAmt .en__field__item--other {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    &:before {
      display: block;
      content: "$";
      position: absolute;
      font-family: inherit;
      font-size: 22px;
      font-weight: 700;
      line-height: 0;
      height: 0;
      left: 2.05ch;
      top: calc(50% - 2px);
      color: var(--color_white);
    }
    input {
      padding: 0;
      padding-left: 2.85ch;
      font-size: 22px;
      line-height: 61px;
      font-weight: 700;
      background-color: var(--color_black);
      color: var(--color_white);
    }
  }
  input[type="radio"]:checked + label:before {
    border-width: 2px;
  }
  .en__contactDetails__rows,
  .en__field__label {
    position: relative;
  }
  .en__contactDetails__select:checked + .en__contactDetails__rows:after,
  .en__field__input--checkbox:checked + .en__field__label:after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16'><path fill='%23F57E20' fill-rule='nonzero' d='M18.76.16L6.68 12.113l-4.44-4.392a.555.555 0 0 0-.779 0L.161 9.006a.541.541 0 0 0 0 .771L6.29 15.84a.555.555 0 0 0 .78 0l13.77-13.624a.541.541 0 0 0 0-.771L19.539.16a.555.555 0 0 0-.779 0z'/></svg>");
    position: absolute;
    left: 5px;
    width: 21px;
    height: 16px;
    color: #f16e22;
    background-color: transparent;
    font-size: 0.99936em;
    display: flex;
    padding-bottom: 23px;
  }
  .en__field > .en__field__label {
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.68px;
    text-transform: uppercase;
  }

  /* Card */
  .give-by-select .en__field__element--radio .en__field__item.card label span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-card-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    margin-right: 7px;
    top: 1px;
  }

  /* Paypal */
  .give-by-select
    .en__field__element--radio
    .en__field__item.paypal
    label
    span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-paypal-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    margin-right: 7px;
    top: 1px;
  }

  /* Check */
  .give-by-select .en__field__element--radio .en__field__item.check label span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-check-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    position: relative;
    margin-right: 7px;
    top: 1px;
  }

  .give-by-select
    .en__field__element--radio
    .en__field__item.card
    input:checked
    + label
    span {
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-card-white.svg);
  }
  .give-by-select
    .en__field__element--radio
    .en__field__item.paypal
    input:checked
    + label
    span {
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-paypal-white.svg);
  }
  .give-by-select
    .en__field__element--radio
    .en__field__item.check
    input:checked
    + label
    span {
    background-image: url(https://cdn.jsdelivr.net/gh/4site-interactive-studios/Ocean-Conservancy-Engaging-Networks-Template@master/themes/parent-theme/images/icon-check-white.svg);
  }

  &:before {
    content: "";
    display: block;
    height: 12px;
    width: 100%;
    background: url("https://www.oxfam.ca/wp-content/uploads/2018/08/toptop.jpg")
      center center no-repeat;
    background-size: cover;
  }
  .body-header {
    border-top: 0 !important;
    min-height: 12px;
    padding-bottom: 30px;
    &:before {
      content: "";
      position: absolute;
      display: block;
      height: 12px;
      width: 100%;
      background: url("https://www.oxfam.ca/wp-content/uploads/2018/08/toptop.jpg")
        center center no-repeat;
      background-size: cover;
      background-position: left;
      z-index: 0 !important;
      box-shadow: none !important;
    }
  }

  // Example Breakpoints Stylings (See engrid-scripts > _engrid-breakpoints.scss for more breakpoints)
  &[data-engrid-layout] {
    @include mq($until: mobile-l) {
      @include until-mobile-l;
    }

    @include mq($from: mobile-l) {
      @include from-mobile-l;
    }
  }

  // Example of Shared Layout Stylings
  &[data-engrid-layout="centerleft1col"] {
    @media screen and (max-width: $centerleft1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  &[data-engrid-layout="centerright1col"] {
    @media screen and (max-width: $centerright1col_content-column_min-width) {
      @include simplified-header;
    }
  }

  // &:not(#en__pagebuilder) {
  //   /* We need to set labels for error messages, but don't want them visually displayed outside page builder */
  //   /* en__field--inmem is In Memoriam */
  //   .en__field--inmem > label,
  //   .en__field--recurrpay > label,
  //   .en__field--donationAmt > label {
  //     display: none;
  //   }
  // }

  // &:not(#en__pagebuilder)
  //   .en__component--advrow
  //   .page-backgroundImage.page-backgroundImageSet:before {
  //   background-position: top left;
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   background-image: var(--theme-page-backgroundImage-url);
  //   will-change: transform; // creates a new paint layer
  // }

  /* RAN Named their EMAIl Opt-in `email` which causes it to get the generated class `en__field--email` that matches the auto assigned class `en__field--email` given to EMAIL type fields. This fixes that collision of styles. https://d.pr/i/ziiG76 */
  // .en__field--102600 label {
  //   position: relative !important;
  //   -webkit-transform: initial !important;
  //   transform: initial !important;
  //   opacity: 1 !important;
  // }

  /* Legacy Template Support */
  // .legacy .en__component--row--1,
  // .legacy .en__component--row--2 {
  //   display: initial !important;
  // }

  h1 {
    text-align: center;
  }
  h2 {
    margin-bottom: 25px;
  }

  // h3 {
  //   color: $color-black;
  //   font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
  //   font-size: 32px;
  //   font-weight: bold;
  //   font-stretch: normal;
  //   font-style: normal;
  //   line-height: 36px;
  //   letter-spacing: normal;
  // }

  // label.en__field__label {
  //   font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
  //   font-size: 14px;
  //   font-weight: 500;
  //   font-stretch: normal;
  //   font-style: normal;
  //   line-height: normal;
  //   letter-spacing: 1.68px;
  //   text-transform: uppercase;
  // }

  // .en__field__label--item {
  //   font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
  //   font-size: calc(0.05552rem * 18);
  //   font-weight: normal;
  //   font-stretch: normal;
  //   font-style: normal;
  //   line-height: 1.44;
  //   letter-spacing: normal;
  // }

  // .en__field--donationAmt {
  //   .en__field__label--item,
  //   .en__field__item--other:before,
  //   .en__field__item--other input {
  //     font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
  //     font-size: calc(0.05552rem * 24);
  //     font-weight: 900;
  //     font-stretch: normal;
  //     font-style: normal;
  //     line-height: normal;
  //     letter-spacing: normal;
  //     border-radius: 0px;
  //   }
  // }

  // .en__field--recurrpay label.en__field__label {
  //   font-size: calc(0.05552rem * 24);
  // }

  // .give-by-select .en__field--radio {
  //   label {
  //     justify-content: center;
  //     margin-top: 0.83rem;
  //     display: block;
  //     width: 100%;
  //     font-size: calc(0.05552rem * 24);
  //     font-weight: 900;
  //     line-height: 1;
  //     padding: 18px 0;
  //   }
  // }

  // .highlight {
  //   background-color: $default-highlight-background-color;
  //   color: $default-highlight-font-color;
  //   padding: 1ch;
  //   font-weight: 500;
  //   display: inline-block;
  //   // margin-left: -0.5rem;
  //   &.big {
  //     font-size: 120%;
  //   }
  // }

  // .en__field--donationAmt {
  //   input[type="text"].en__field__input--other,
  //   input[type="number"].en__field__input--other,
  //   input[type="tel"].en__field__input--other {
  //     padding-left: 33%;
  //     // padding-right: 27%;
  //     // text-align: center;
  //     min-height: 64px;
  //   }
  // }

  // .en__field--donationAmt .en__field__item--other:before {
  //   display: block;
  //   content: "$";
  //   position: relative;
  //   height: 0;
  //   left: calc((100% / 3) - 1rem);
  //   top: 1.1rem;
  //   color: #ffffff;
  //   width: 0;
  // }

  // .en__field--monthly_upsell_checkbox
  //   .en__field__input--checkbox
  //   + .en__field__label {
  //   display: inline-block !important;
  // }

  // .en__field--monthly_upsell_checkbox
  //   .en__field__input--checkbox
  //   + .en__field__label:before {
  //   margin-top: 0.25rem;
  // }

  // .en__field--donationAmt .en__field__item--other::after{
  //   opacity: .8;
  //   font-size: 80%;
  //   position: absolute;
  //   font-family: inherit;
  //   font-weight: 400;
  //   line-height: 1.5;
  //   bottom: 1.25rem;
  //   display: inline-block;
  //   height: 0;
  //   margin-left: .5rem;
  // }

  // .en__field--donationAmt.monthly-giving .en__field__item--other::after {
  //   content: "enter monthly amount";
  // }

  // .en__field--donationAmt:not(.monthly-giving) .en__field__item--other::after {
  //   content: "enter amount";
  // }

  // .en__field--recurrpay {
  //   label.en__field__label {
  //     // font-size: calc(0.05552rem * 24) !important;
  //     font-weight: 900 !important;
  //     text-transform: none !important;
  //     &:before {
  //       top: 3px;
  //     }
  //   }

  //   .en__field--recurrpay > label {
  //     display: none;
  //   }
  // }

  // .monthly-gift-upsell-tooltip {
  //   text-align: center;
  // }

  // .monthly-gift-upsell-tooltip .highlight:after {
  //   bottom: -12px;
  //   left: 60%;
  //   content: " ";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   border: 20px solid transparent;
  //   border-top-color: #f9f003;
  //   margin-left: 30px;
  //   z-index: 1;
  // }

  // .en__field__input--checkbox + .en__field__label,
  // .en__contactDetails__rows {
  //   font-size: calc(0.05552rem * 18);
  //   font-weight: 400;
  //   text-transform: none;
  //   letter-spacing: 0.4px;
  //   display: inline-block;
  //   line-height: 1.4;
  //   .highlight {
  //     font-weight: 700;
  //     margin-top: -0.5rem;
  //     margin-left: -0.2rem;
  //   }
  // }

  // .content-footer {
  //   background-color: #ffffff;
  // }

  // .pre-footer-card-wrapper {
  //   display: flex;
  //   flex-wrap: wrap;
  //   width: 90%;
  //   margin: 0 auto;
  //   margin-bottom: 260px;
  //   justify-content: center;
  // }

  // .pre-footer-card {
  //   display: flex;
  //   flex-direction: column;
  //   text-align: center;
  //   width: 100%;
  //   max-width: 350px;
  //   padding: 0rem 1rem 2rem 1rem;
  //   img {
  //     display: block;
  //     margin-bottom: 35px;
  //   }
  //   .header-wrapper {
  //     h2 {
  //       margin: 0;
  //       font-size: calc(0.05552rem * 32);
  //       font-weight: 900;
  //       letter-spacing: 1px;
  //       color: $color-black;
  //       text-transform: uppercase;
  //       line-height: 1;
  //       padding: 1rem 1rem 0.5rem 1rem; // Corrects for the fact the font is vertically off center
  //     }
  //   }
  //   p {
  //     font-size: calc(0.05552rem * 16);
  //     line-height: 1.58;
  //     letter-spacing: 0.2px;
  //     text-align: center;
  //     color: $color-black;
  //   }
  // }
  // .content-footer {
  //   background-color: $color-black;
  // }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 30px 0px;
    flex-wrap: wrap;
    .footer-logo {
      padding: 1rem;
      img {
        width: auto;
        height: 50px;
      }
    }
    .footer-menu {
      padding: 1rem;
      a {
        display: block;
        color: #fff;
        font-size: calc(0.05552rem * 16);
        font-weight: bold;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .footer-copy {
      padding: 1rem;
      max-width: 452px;

      p {
        font-size: calc(0.05552rem * 14);
        font-weight: 400;
        line-height: 1.57;
        letter-spacing: 0.6px;
        color: #ffffff;
      }
    }
    .address {
      font-size: calc(0.05552rem * 14);
      font-weight: 400;
      line-height: 1.57;
      letter-spacing: 0.6px;
      color: #ffffff;
      margin: 0;
      display: block;
      width: 100%;
      padding-top: 30px;
      border-top: 2px solid rgba(#fff, 0.8);
      text-align: center;
    }
  }

  @media screen and (min-width: 970px) {
    .footer-wrapper .footer-copy p {
      border-left: 1px solid #fff;
      padding-left: 65px;
    }
  }

  @media screen and (max-width: 497px) {
    .footer-wrapper {
      text-align: center;
    }
  }

  // .give-by-select .en__field--radio .en__field__item {
  //   flex-grow: 1;

  //   input[type="radio"] + label {
  //     flex-grow: 1;
  //     padding: 1rem 0 1rem 2.25rem;
  //     background-position-x: calc(50% - 25px);
  //     background-position-y: calc(50% - 2px);
  //     background-repeat: no-repeat;
  //     font-size: calc(0.05552rem * 18);
  //     font-weight: bold;
  //     letter-spacing: 0.4px;
  //     text-align: center;
  //     color: #ffffff;
  //     // line-height: 1;
  //     text-transform: none;
  //   }
  // }

  // // Case insensitive selector
  // .give-by-select .en__field--radio input[value$="ard"] + label {
  //   background-size: 24px 18px;
  //   background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/card.png?v=1572545889000");
  // }

  // // Case insensitive selector
  // .give-by-select .en__field--radio input[value$="heck"] + label {
  //   background-size: 18px 16px;
  //   background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/bank.png?v=1572545890000");
  // }

  // // Case insensitive selector
  // .give-by-select .en__field--radio input[value$="aypal"] + label {
  //   background-size: 17px 20px;
  //   background-image: url("https://acb0a5d73b67fccd4bbe-c2d8138f0ea10a18dd4c43ec3aa4240a.ssl.cf5.rackcdn.com/10042/paypal.png?v=1572545891000");
  // }

  // // This field had a highlight applied to it that causes the checbox to show up off center
  // #en__field_supporter_monthly_upsell_checkbox:checked
  //   + .en__field__label:after {
  //   top: 0.25rem;
  // }

  // .en__field--donationAmt input.en__field__input--other::placeholder {
  //   opacity: 0.7;
  // }

  // .white-font {
  //   color: $color-white;
  // }

  /** Hide COLUMNS when viewed publicly and in page builder, but not the page builder pop-up preview. **/
  /* prettier-ignore */
  // .en__component--advrow:not(.show) :not(.pboAdvancedRow__preview) .hide.en__component--column {
  //       display: none;
  //     }

  /** Hide CONTENT when viewed publicly, but not when viewed in page builder. **/
  // &:not(#en__pagebuilder) .en__component--advrow:not(.show) .hide {
  //   display: none !important;
  // }

  // Client specific CSS
  .content-footer > div {
    grid-column: pc !important;
  }
  .footer-block-three {
    height: 14px;
    background: url("https://oxfam.ca/wp-content/uploads/2018/06/footer-bg.png");
    background-size: cover;
    clear: both;
    font-size: 0;
    line-height: 0;
  }

  .footer-block-two {
    background-color: rgba(12, 136, 74, 1);
  }

  .footer-wrapper {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-block-two .yd-col.yd-ft-left p {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 26px;
    /* margin-left: 0px; */
    margin: 20px 20px 20px 0;
  }

  .footer-block-two .yd-col.yd-ft-right p {
    color: #ffffff;
    font-size: 14px;
    display: inline-block;
    font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
    margin-right: 10px;
    /* margin-left: 0px; */
    margin: 20px 20px 20px 0;
  }

  .yd-col {
    /* float: left;
          min-height: 1px; */
    display: inline-block;
  }

  /* .yd-col:after {
          clear: both;
      } */

  .yd-ft-left {
    width: 36.51%;
  }

  .yd-ft-middle {
    width: 42.16%;
  }

  .yd-ft-right {
    width: 19.33%;
    text-align: right;
  }

  .ft-link-wrapper {
    margin: 20px;
  }

  .ft-link-wrapper a {
    margin-right: 25px !important;
    text-decoration: none !important;
    color: #ffffff !important;
    font-size: 14px !important;
    display: inline-block;
    font-family: "Oxfam TSTAR PRO", Arial, Helvetica, sans-serif;
    font-weight: normal;
    line-height: 26px;
  }

  .ft-link-wrapper a:hover {
    text-decoration: underline;
  }
}

/*
* ####################################################################################################################
* Layout - Center ANY
* ####################################################################################################################
*/

/*
* ##########################################################
* # ENGRID - Mobile First Styling
* # LAYOUT - Center ANY
* ##########################################################
*/

// @media screen and (max-width: 360px) {
//   // Remove down arrow when giving frequency wraps
//   .monthly-gift-upsell-tooltip .highlight:after {
//     display: none;
//   }
// }

@media screen and (max-width: 400px) {
  // Remove "Give By Select" icons on small screens
  // .give-by-select
  //   .en__field--radio
  //   .en__field__item
  //   input[type="radio"]
  //   + label {
  //   background-image: none;
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  // h1 {
  //   font-size: calc((0.05552rem * 48) * 0.85);
  // }

  // h2,
  // .en__field--donationAmt .en__field__label--item,
  // .en__field--donationAmt .en__field__item--other:before,
  // .en__field--donationAmt .en__field__item--other input,
  // .give-by-select .en__field--radio label,
  // .en__field--recurrpay label.en__field__label,
  // .highlight.big {
  //   font-size: calc((0.05552rem * 24) * 0.9);
  // }

  // h3,
  // .pre-footer-card p,
  // .pre-footer-card.footer-wrapper .footer-menu a {
  //   font-size: calc((0.05552rem * 16) * 1);
  // }

  // label.en__field__label {
  //   font-size: calc((0.05552rem * 12) * 0.95);
  // }

  // .en__field__label--item .en__field__input--checkbox + .en__field__label,
  // .en__contactDetails__rows,
  // .give-by-select
  //   .en__field--radio
  //   .en__field__item
  //   input[type="radio"]
  //   + label {
  //   font-size: calc((0.05552rem * 18) * 1);
  // }
}

@media screen and (max-width: 599px) {
  // .en__field--donationAmt .en__field__element--radio .en__field__item {
  //   width: calc(50% - 0.5rem);
  // }
}

// h1 {
//   margin-top: 5px;
// }

[data-engrid-layout="centerleft1col"],
[data-engrid-layout="centercenter1col"],
[data-engrid-layout="centercenter1col-wide"],
[data-engrid-layout="centerright1col"] {
  .page-alert,
  .content-header,
  .body-banner,
  .body-bannerOverlay,
  .body-side,
  .body-footerOutside,
  .page-backgroundImageOverlay {
    // display: none;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .body-headerOutside {
    margin-top: 2rem;
    margin-bottom: 2rem;
    grid-column: bc;
  }

  .content-preFooter {
    grid-column: pc;
    background-size: contain;
  }

  .content-preFooter.pseudo-subgrid > div {
    grid-column: bc;
  }

  .body-footer {
    margin-bottom: 5rem;
  }

  .content-footer.pseudo-subgrid > div {
    grid-column: bc;
  }
}

body:not(#en__pagebuilder)[data-engrid-layout="centerleft1col"],
body:not(#en__pagebuilder)[data-engrid-layout="centercenter1col"],
body:not(#en__pagebuilder)[data-engrid-layout="centercenter1col-wide"],
body:not(#en__pagebuilder)[data-engrid-layout="centerright1col"] {
  /* This should use a more robust solution for adding a gradient overlay to the background image, but below the overlay text */
  .page-backgroundImage::after {
    content: "";
    background-image: radial-gradient(
      circle at 50% 0,
      rgba(0, 0, 0, 0.3),
      transparent 53%
    );
    z-index: 0;
    grid-column: pc;
    height: calc(100% - 12px);
    left: 0;
    position: fixed;
    top: 12px;
    width: 100vw;
    background-color: #333;
    opacity: 0.5;
  }
  .page-backgroundImageOverlay {
    grid-row: page-start / body-main-end;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.3)),
      color-stop(30%, transparent)
    );
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3) 0%,
      transparent 30%
    );
  }
}

body#en__pagebuilder [data-engrid-layout="centerleft1col"],
body#en__pagebuilder [data-engrid-layout="centercenter1col"],
body#en__pagebuilder [data-engrid-layout="centercenter1col-wide"],
body#en__pagebuilder [data-engrid-layout="centerright1col"] {
  .page-backgroundImage > div,
  .page-backgroundImageOverlay > div {
    grid-column: bc;
  }
}

/*
* ##########################################################
* # ENGRID - BODY Column Breakpoint Styling
* # LAYOUT - Center ANY - [class^="layout-center"][class$="1col"]
* ##########################################################
*/

/* Sum of all MIN values of the Body Columns */
@media screen and (min-width: 600px) {
  [data-engrid-layout="centerleft1col"],
  [data-engrid-layout="centercenter1col"],
  [data-engrid-layout="centercenter1col-wide"],
  [data-engrid-layout="centerright1col"] {
    // .en__component--advrow .body-header,
    // .en__component--advrow .body-banner,
    // .en__component--advrow .body-bannerOverlay,
    // .en__component--advrow .body-top,
    // .en__component--advrow .body-side,
    // .en__component--advrow .body-main,
    // .en__component--advrow .body-bottom,
    // .en__component--advrow .body-footer {
    //   padding-left: 3.5rem;
    //   padding-right: 3.5rem;
    // }

    // .en__component--advrow .body-header {
    //   padding-top: 4rem;
    // }

    // .en__component--advrow .body-footer {
    //   padding-bottom: 4rem;
    // }

    // .body-headerOutside {
    //   margin-top: 4rem;
    //   margin-bottom: 4rem;
    // }

    // [class^="body-"] {
    //   border-left: 1px solid black;
    //   border-right: 1px solid black;
    // }

    .content-preFooter.pseudo-subgrid > div {
      grid-column: cc;
    }

    .content-footer.pseudo-subgrid > div {
      grid-column: cc;
    }
  }
}

/*
* ##########################################################
* # ENGRID - Content Column Breakpoint Styling
* # LAYOUT - Center ANY - [class^="layout-center"][class$="1col"]
* ##########################################################
*/

/* Sum of all MAX values of the Body Columns + 1px */
// @media screen and (min-width: 1231px) {
//   [data-engrid-layout="centerleft1col"],
//   [data-engrid-layout="centercenter1col"],
//   [data-engrid-layout="centercenter1col-wide"],
//   [data-engrid-layout="centerright1col"] {
//     .content-preFooter {
//       background-size: cover;
//     }
//   }
// }

[data-engrid-subtheme="emergency"] {
  // EN Library Component: Code block: Oxfam Canada - Emergency Theme Override
  // Emergency Theme Override
  /* Overrides the base styles to create an "Emergency Theme" */

  .en__submit button {
    background-color: #ff1d34 !important;
    border-color: #ff1d34 !important;
  }

  .en__submit button:focus,
  .en__submit button:hover,
  button.cta.primary:focus,
  button.cta.primary:hover {
    background-color: #b4243f !important;
  }

  button:focus,
  button:hover {
    background-color: #b4243f !important;
  }

  .en__contactDetails__select:checked + .en__contactDetails__rows:after,
  .en__field__input--checkbox:checked + .en__field__label:after {
    content: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='21' height='16' viewBox='0 0 21 16'><path fill='%23FF1D34' fill-rule='nonzero' d='M18.76.16L6.68 12.113l-4.44-4.392a.555.555 0 0 0-.779 0L.161 9.006a.541.541 0 0 0 0 .771L6.29 15.84a.555.555 0 0 0 .78 0l13.77-13.624a.541.541 0 0 0 0-.771L19.539.16a.555.555 0 0 0-.779 0z'/></svg>") !important;
  }

  .en__field__input--radio:checked + .en__field__label:before {
    background-color: #ff1d34 !important;
  }

  .en__contactDetails__select:checked + .en__contactDetails__rows:before,
  .en__field__input--checkbox:checked + .en__field__label:before {
    color: #ff1d34 !important;
  }

  .en__contactDetails__select:checked + .en__contactDetails__rows:after,
  .en__field__input--checkbox:checked + .en__field__label:after {
    color: #ff1d34 !important;
  }

  .en__field--donationAmt.en__field--radio
    .en__field__item--other.has-value
    input,
  .en__field--donationAmt.en__field--radio
    .en__field__item--other:not(.en__field__item--hidden)
    input,
  .en__field--donationAmt.en__field--radio input[type="radio"]:checked + label,
  .give-by-select .en__field--radio .en__field__item--other.has-value input,
  .give-by-select
    .en__field--radio
    .en__field__item--other:not(.en__field__item--hidden)
    input,
  .give-by-select .en__field--radio input[type="radio"]:checked + label,
  .radio-to-buttons .en__field--radio .en__field__item--other.has-value input,
  .radio-to-buttons
    .en__field--radio
    .en__field__item--other:not(.en__field__item--hidden)
    input,
  .radio-to-buttons .en__field--radio input[type="radio"]:checked + label {
    background-color: #ff1d34 !important;
    border-color: #ff1d34 !important;
  }

  .en__tweetButton__send,
  .en__tweetButton__sent {
    background-color: #ff1d34 !important;
  }

  #enModal .enModal-container .accent {
    color: #ff1d34 !important;
  }

  &:before {
    background: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/strip-emergency-desktop.png?v=1520436486000") !important;
  }

  .body-header:before {
    background: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/strip-emergency-desktop.png?v=1520436486000") !important;
  }

  .footer-block-three {
    background: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/strip-emergency-desktop.png?v=1520436486000") !important;
  }

  &,
  .footer-block-two {
    background-color: #000000 !important;
  }

  // EN Library Component: Code block: Red Emergency Page Styling
  // Red Emergency page styling block - red geopattern and buttons
  /* Temporary Styles to for "Emergency" red look and feel */

  /* 2. change the hover or active behavior of the recurring and donation amount label */
  button,
  .en__field--recurrpay label.en__field__label.en__field__label--item:hover,
  .en__field--recurrpay input[type="radio"]:checked + label,
  .en__field--donationAmt label.en__field__label.en__field__label--item:hover,
  .en__field--donationAmt input[type="radio"]:checked + label {
    background-color: #ff1d34 !important;
  }

  header#yd-donationheader,
  section.form-sidebar,
  section.wrapper .main .form-large,
  .footer-block-three {
    background-image: url("https://aaf1a18515da0e792f78-c27fdabe952dfc357fe25ebf5c8897ee.ssl.cf5.rackcdn.com/2110/strip-emergency-desktop.png?v=1520436486000") !important;
  }
}
